<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.xda.quanlychitieu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Nhom2B"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom2B">
        <activity
            android:name=".service.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".service.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".service.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:theme="@style/AppTheme.NoActionBar"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>